/* -------------MOBILE------------- */

/* -------------DESKTOP------------- */

@media (min-width: 720px) {
  /* .navbar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  } */
  nav {
    height: 100%;
    width: 20rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: #5c695f;
    overflow-x: hidden;
    /* padding-top: 16px; */
  }

  nav a {
    /* padding: 6px 8px 6px 16px; */
    font-size: 2rem;
    color: #fbf5e9;
    display: block;
    text-decoration: none;
  }

  nav ul {
    list-style-type: none;
    padding: 4rem;
    padding-top: 15rem;
  }

  .theme {
    text-align: right;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  .info {
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  hr {
    color: #fbf5e9;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
