/* ------------------------------------- MAIN RULES ------------------------------------- */

* {
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: #fbf5e9;
  background-image: url(image/artwork2.png);
  background-size: cover;
}

img {
  max-width: 100%;
  background-size: cover;
}

.element_2 a:link {
  color: #3c4b3f;
}
.element_2 a:visited {
  color: #664d1a;
}
.element_2 a:hover {
  color: #b98a2c;
}
/* ------------- NAVIGATION ------------- */

hr {
  color: #fbf5e9;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
nav a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: #fbf5e9;
}

nav a:hover {
  color: #b98a2c;
}

.theme {
  text-align: right;
}

.info {
  text-align: left;
}

/* -------------------- FONTS --------------- */

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #2e3530;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #3c4b3f;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: #3c4b3f;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

p {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 1rem;
}

/* ------------------------------------ MOBILE---------------------------------------------- */
/* ------------- ALL ASSIGNMENT PAGES --------------- */
#first_section {
  padding: 4rem;
}
#first_section p {
  text-justify: inter-word;
  text-align: justify;
}

.section_wrapper img {
  max-width: 100%;
  background-size: cover;
}

.swipe {
  visibility: hidden;
}

/* -------------------------------SVG BACKGROUND POSITIONS MOBILE ------------------------- */

.form1_container {
  width: 60%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: rotate(20deg);
  opacity: 50%;
  z-index: -1;
}

.form1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(image/port-15.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form2_container {
  width: 50%;
  aspect-ratio: 2/4;
  position: fixed;
  top: 1%;
  left: -20%;
  transform: rotate(140deg);
  z-index: -1;
  opacity: 50%;
}

.form2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(image/port-16.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form3_container {
  width: 50%;
  aspect-ratio: 2/4;
  position: fixed;
  top: 70%;
  left: -20%;
  z-index: -1;
  opacity: 50%;
}

.form3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(image/port-17.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  transform: rotate(30deg);
}

/* -------------- BURGER ------------ */
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.burger_container {
  width: 100%;
}

.burger {
  padding-top: 2rem;
  padding-right: 0.6rem;
  /*gennemsigtig baggrund uden kant*/
  background: transparent;
  border: none;

  /*ikonets præcise størrelse*/
  aspect-ratio: 16/9;

  /*musen bliver til en pegefinger når man kører den over ikonet*/
  cursor: pointer;

  z-index: 10;

  position: fixed;
}

/*------Kode der bruges i javascript------*/
.hide {
  opacity: 0;
}

@media (max-width: 720px) {
  nav {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.4s;
    transform: translateX(100%);
    justify-content: end;
  }

  nav.shown {
    transform: none;
  }
  header nav ul {
    list-style: none;
    padding: 0;
    z-index: 4;
  }

  li {
    padding-top: 1rem;
  }

  ul.white {
    background-color: #5c695f;
    height: 100vh;
    width: 40vh;
    display: grid;
    place-content: center;
    margin: 0%;
  }

  .burger {
    display: block;
  }
  .burger_container {
    display: flex;
    justify-content: flex-end;
  }
}
/* ------------------------------------ DESKTOP---------------------------------------------- */

@media (min-width: 720px) {
  main {
    margin-right: 20rem;
  }
  .burger {
    display: none;
  }
  nav {
    height: 100%;
    width: 20rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: #5c695f;
    overflow-x: hidden;
  }

  nav ul {
    list-style-type: none;
    padding: 4rem;
    padding-top: 15rem;
  }

  /* ------------WEB ---------- */
  #first_section .section_wrapper {
    display: flex;
    flex-flow: wrap;
    padding-top: 3rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }

  #first_section h2 {
    text-align: center;
    padding-bottom: 5rem;
    text-decoration: underline;
  }

  #first_section .topic p {
    padding-right: 6rem;
    padding-left: 6rem;
  }

  .element_2 {
    padding-bottom: 2rem;
  }

  .element_img1 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
  .element_img2 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .carousel .swipe p {
    visibility: visible;
    justify-content: center;
    text-align: center;
    display: flex;
  }

  /* -------- CAROUSEL--------- */
  .carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }

  .slides {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }

  .slides {
    scrollbar-width: none;
  }
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    /* height: 600px; */
    justify-content: center;
    /* margin: 0 1rem; */
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform 0.5s;
    width: 100%;
  }

  .carousel__nav {
    padding: 1.25rem 0.5rem;
  }

  /* -------------------------------SVG BACKGROUND POSITIONS MOBILE ------------------------- */

  .form1_container {
    width: 40%;
    top: -10%;
    left: 50%;
    transform: rotate(30deg);
  }

  .form2_container {
    width: 20%;
    top: -21%;
    left: -5%;
    transform: rotate (100deg);
  }

  .form3_container {
    width: 30%;
    top: 40%;
    left: 10%;
    transform: rotate (60deg);
  }
}
