* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
hr {
  color: #fbf5e9;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* -------------- BURGER ------------ */
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.burger_container {
  width: 100%;
}

.burger {
  padding-top: 2rem;
  padding-right: 2rem;
  /*gennemsigtig baggrund uden kant*/
  background: transparent;
  border: none;

  /*ikonets præcise størrelse*/
  aspect-ratio: 16/9;

  /*musen bliver til en pegefinger når man kører den over ikonet*/
  cursor: pointer;

  z-index: 10;

  position: fixed;
}

/*------Kode der bruges i javascript------*/
.hide {
  opacity: 0;
}

@media (max-width: 720px) {
  nav {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.4s;
    transform: translateX(100%);
    justify-content: end;
  }
  a {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-size: 2rem;
    color: #fbf5e9;
  }

  .theme {
    text-align: right;
  }

  .info {
    text-align: left;
  }
  nav.shown {
    transform: none;
  }
  header nav ul {
    /* position: sticky; */
    list-style: none;
    padding: 0;
    z-index: 4;
  }

  li {
    padding-top: 1rem;
  }

  ul.white {
    background-color: #5c695f;
    height: 100vh;
    width: 40vh;
    display: grid;
    place-content: center;
    margin: 0%;
  }

  .burger {
    display: block;
  }
  .burger_container {
    display: flex;
    justify-content: flex-end;
  }
}

/* -------------MOBILE--------------- */

.back1_container {
  width: 50%;
  aspect-ratio: 3/6;
  position: fixed;
  top: 30%;
  left: 15%;
}
.back1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-03.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.back2_container {
  width: 40%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 52%;
  left: 45%;
}
.back2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-04.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form1_container {
  width: 50%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 60%;
  left: 15%;
  rotate: 10deg;
}
.form1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-09.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form2_container {
  width: 100%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 12%;
  left: 15%;
  z-index: -1;
}
.form2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-07.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.form3_container {
  width: 16%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 45%;
  left: 39%;
  opacity: 0;
}
.form3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-08.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  rotate: 30deg;
}

.flower1_container {
  width: 40%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 10%;
  left: 50%;
}
.flower1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-05.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.flower2_container {
  width: 10%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 54%;
  left: 39%;
  opacity: 0;
}
.flower2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-06.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* -------------DESKTOP------------- */

@media (min-width: 720px) {
  /* .navbar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
  } */

  .burger {
    display: none;
  }
  nav {
    height: 100%;
    width: 30rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: #5c695f;
    overflow-x: hidden;
    /* padding-top: 16px; */
  }

  nav a {
    /* padding: 6px 8px 6px 16px; */
    font-size: 2rem;
    color: #fbf5e9;
    display: block;
    text-decoration: none;
  }

  nav ul {
    list-style-type: none;
    padding: 7rem;
    padding-top: 15rem;
  }

  .theme {
    text-align: right;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  .info {
    text-align: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
  }

  /* ----------------- HOME SCREEN --------------- */

  .back1_container {
    width: 20%;
    aspect-ratio: 3/6;
    position: fixed;
    top: 12%;
    left: 10%;
  }
  .back1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-03.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .back2_container {
    width: 18%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 43%;
    left: 22%;
  }
  .back2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-04.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .form1_container {
    width: 18%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 65%;
    left: 12%;
  }
  .form1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-09.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .form2_container {
    width: 30%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 7%;
    left: 20%;
    z-index: -1;
  }
  .form2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-07.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .form3_container {
    width: 16%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 45%;
    left: 39%;
    opacity: 100%;
  }
  .form3_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-08.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    rotate: 30deg;
  }

  .flower1_container {
    width: 12%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 25%;
    left: 32%;
  }
  .flower1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-05.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .flower2_container {
    width: 10%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 54%;
    left: 39%;
    opacity: 100%;
  }
  .flower2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-06.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
