/* ------------------------------------- MAIN RULES ------------------------------------- */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #fbf5e9;
}

/* ------------- NAVIGATION ------------- */

hr {
  color: #fbf5e9;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
nav a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  color: #fbf5e9;
}

.theme {
  text-align: right;
}

.info {
  text-align: left;
}

/* -------------------- FONTS --------------- */
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

p {
  font: 0.9rem;
  font-family: "Source Sans Pro", sans-serif;
}

/* ----------------------- BURGER ----------------- */
header {
  position: fixed;
  z-index: 10;
  width: 100%;
}

.burger_container {
  width: 100%;
}

.burger {
  padding-top: 2rem;
  padding-right: 2rem;
  /*gennemsigtig baggrund uden kant*/
  background: transparent;
  border: none;

  /*ikonets præcise størrelse*/
  aspect-ratio: 16/9;

  /*musen bliver til en pegefinger når man kører den over ikonet*/
  cursor: pointer;

  z-index: 10;

  position: fixed;
}

/*----------- BURGER KODE I JAVA ----------*/
.hide {
  opacity: 0;
}

/* ------BURGER MENU FOR MOBIL FIRST ------*/
@media (max-width: 720px) {
  nav {
    top: 0;
    right: 0;
    display: flex;
    transition: 0.4s;
    transform: translateX(100%);
    justify-content: end;
  }

  nav.shown {
    transform: none;
  }
  header nav ul {
    list-style: none;
    padding: 0;
    z-index: 4;
  }

  li {
    padding-top: 1rem;
  }

  ul.white {
    background-color: #5c695f;
    height: 100vh;
    width: 40vh;
    display: grid;
    place-content: center;
    margin: 0%;
  }

  .burger {
    display: block;
  }

  .burger_container {
    display: flex;
    justify-content: flex-end;
  }
}

/* ------------------------------------ MOBILE---------------------------------------------- */

/* -----------------CONTACT PAGE------------------- */
#contact_section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contact_section .section_wrapper {
  text-align: center;
  position: relative;
  padding: 10rem;
}

#contact_section .section_wrapper h1 {
  padding-bottom: 2rem;
}
.headline {
  padding-bottom: 2rem;
}

/* -------------------------------SVG BACKGROUND POSITIONS MOBILE ------------------------- */

/* ---------------- HOMEPAGE SVG-------------- */

.back1_container {
  width: 50%;
  aspect-ratio: 3/6;
  position: fixed;
  top: 30%;
  left: 15%;
}

.back1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-03.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.back2_container {
  width: 40%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 62%;
  left: 45%;
}

.back2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-04.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form1_container {
  width: 50%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 68%;
  left: 15%;
  rotate: 10deg;
}

.form1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-09.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form2_container {
  width: 100%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 12%;
  left: 15%;
  z-index: -1;
}

.form2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-07.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.form3_container {
  width: 16%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 45%;
  left: 39%;
  opacity: 0;
}

.form3_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-08.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  rotate: 30deg;
}

.flower1_container {
  width: 40%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 10%;
  left: 50%;
}

.flower1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-05.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.flower2_container {
  width: 10%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 54%;
  left: 39%;
  opacity: 0;
}

.flower2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-06.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ------------- CONTACT SVG -------------- */

.contactform1_container {
  width: 90%;
  aspect-ratio: 35/22;
  position: fixed;
  top: 10%;
  left: 38.5%;
  z-index: -1;
}
.contactform1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-11.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contactform2_container {
  width: 70%;
  aspect-ratio: 503/327;
  position: fixed;
  top: 65%;
  left: -17%;
  opacity: 100%;
  z-index: -1;
  opacity: 80%;
}

.contactform2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-12.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contactflower1_container {
  width: 30%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 35%;
  left: 60%;
  z-index: -1;
  rotate: 42deg;
  opacity: 50%;
}

.contactflower1_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-05.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.contactflower2_container {
  width: 40%;
  aspect-ratio: 2/3;
  position: fixed;
  top: 75%;
  left: 39%;
  opacity: 100%;
  z-index: -1;
  opacity: 50%;
}

.contactflower2_sprite {
  width: 100%;
  height: 100%;
  background-image: url(/image/port-06.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* ----------------------------------------DESKTOP------------------------------------------ */
@media (min-width: 1010px) {
  /* --------------- CONTACT  ------------------  */
  #contact_section .section_wrapper {
    display: block;
    text-align: justify;
  }
  #contact_section {
    display: block;
  }

  .contactname {
    text-align: center;
  }
  /* .mail {
    grid-row: 5/6;
    grid-column: 2/5;*/

  .headline h2 .headline p {
    margin: 0px;
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    line-height: 28px;
  }
  .headline p {
    text-align: right;
    padding-right: 2em;
    float: right;
  }
}
@media (min-width: 720px) {
  main {
    margin-right: 30rem;
  }
  .burger {
    display: none;
  }

  nav {
    height: 100%;
    width: 30rem;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0%;
    background-color: #5c695f;
    overflow-x: hidden;
    /* padding-top: 16px; */
  }

  nav ul {
    list-style-type: none;
    padding: 7rem;
    padding-top: 15rem;
  }

  .port {
    rotate: 90deg;
    top: 75%;
    right: 90%;
    position: sticky;
  }

  /* -------------------------------------SVG BACKGROUND POSITIONS ----------------------------- */

  /* ----------------- HOME SCREEN SVG--------------- */

  .back1_container {
    width: 20%;
    aspect-ratio: 3/6;
    position: fixed;
    top: 12%;
    left: 10%;
  }
  .back1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-03.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .back2_container {
    width: 18%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 43%;
    left: 22%;
  }
  .back2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-04.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .form1_container {
    width: 18%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 65%;
    left: 12%;
  }
  .form1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-09.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .form2_container {
    width: 30%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 7%;
    left: 20%;
    z-index: -1;
  }
  .form2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-07.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .form3_container {
    width: 16%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 45%;
    left: 39%;
    opacity: 100%;
  }
  .form3_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-08.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    rotate: 30deg;
  }

  .flower1_container {
    width: 12%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 25%;
    left: 32%;
  }
  .flower1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-05.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .flower2_container {
    width: 10%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 54%;
    left: 39%;
    opacity: 100%;
  }
  .flower2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-06.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  /* -------------- CONTACT BACKGROUND----------- */

  .contactform1_container {
    width: 32%;
    aspect-ratio: 35/22;
    position: fixed;
    top: 7%;
    left: 5%;
    z-index: -1;
  }
  .contactform1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-11.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .contactform2_container {
    width: 27%;
    aspect-ratio: 503/327;
    position: fixed;
    top: 68%;
    left: 17%;
    opacity: 100%;
    z-index: -1;
    opacity: 80%;
  }

  .contactform2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-12.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .contactflower1_container {
    width: 20%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 6%;
    left: 47%;
    z-index: -1;
    rotate: 345deg;
    opacity: 50%;
  }

  .contactflower1_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-05.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .contactflower2_container {
    width: 15%;
    aspect-ratio: 2/3;
    position: fixed;
    top: 71%;
    left: 0%;
    opacity: 100%;
    z-index: -1;
    rotate: 19deg;
    opacity: 50%;
  }

  .contactflower2_sprite {
    width: 100%;
    height: 100%;
    background-image: url(/image/port-06.svg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
